@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-condensed-bold;
    src: url(../fonts/Roboto-Condensed/RobotoCondensed-Bold.ttf);
}